.barraLateralActividad
{
    position: fixed;
    width: 25%;
    height: 100%;
    display: block;
    background: #E6E6E6;
    overflow: scroll;
}

.panelOperacionBotonLateral, .panelOperacionBotonLateral:focus, .panelOperacionBotonLateral:active, .panelOperacionBotonLateral:hover
{
    color: white;
    background: #1859b2;
    border-bottom: 2px  solid #79adf4;
    
    border-radius: 0px;
    
    outline: none !important;
    box-shadow: none;
}

.botonOperacionBarraLateral, .botonOperacionBarraLateral:hover, .botonOperacionBarraLateral:active, .botonOperacionBarraLateral:focus
{
    color: white !important;
    border-radius: 0px;
    background: transparent;
    
    outline: none !important;
    box-shadow: none;
}

.itemBarraLateral, .itemBarraLateral:focus, .itemBarraLateral:active, .itemBarraLateral:hover
{
    background: white;
    color:  #262626;
    
    border-width: 0px 1px 1px 0px;
    border-color:  #848484;
    border-style: solid;
    border-radius: 0px;
    
    text-align: left;
    width: 100%;
    
    outline: none !important;
    box-shadow: none;
}

.itemBarraLateralbtn, .itemBarraLateralbtn:focus, .itemBarraLateralbtn:active, .itemBarraLateralbtn:hover, .itemBarraLateralbtn.active
{
    background: transparent;
    color:  #262626 !important;
    
    border-radius: 0px;
    
    text-align: left;
    width: 100%;
    
    outline: none !important;
    box-shadow: none;
}

.itemBarraLateral.active
{
    background: #E0F2F7;
    
    outline: none !important;
    box-shadow: none;
}

.divisorAzul
{
    margin-top: 3px;
    margin-bottom: 3px;
    height: 3px;
    background: #1859b2;
}

.tituloActividad
{
    color:  #262626;
    font-size: 16pt;
    font-style: bold;
}

.botonDetallesActividad, .botonDetallesActividad:active, .botonDetallesActividad:focus, .botonDetallesActividad:hover
{
    background: transparent;
    color:  #262626;
    border-radius: 0px;
    font-size: 16pt;
    margin-top: -5px;
    
    outline: none !important;
    box-shadow: none;
}

.botonDetallesActividad:hover
{
    background: transparent;
    color:  #1859b2;
    
    outline: none !important;
    box-shadow: none;
}

.textoDetalle
{
    color:#7F7F7F;
}

.detallesActividadPanel
{
    margin-top: 53px;
}

@media (max-width: 767px) 
{
    
    .barraLateralActividad
    {
        width: 100%;
        z-index: 5;
    }
    
    .itemBarraLateral
    {
         min-height: 45px;
         font-size: 14pt;
    }
}

.campoAgregado.contornoAzul, .campoAgregado.contornoAzul:hover, .campoAgregado.contornoAzul:active, .campoAgregado.contornoAzul:focus,
.campoAgregadoQuitar.contornoAzul, .campoAgregadoQuitar.contornoAzul:hover, .campoAgregadoQuitar.contornoAzul:active, .limpiarTextoBotonAgregado.contornoAzul:focus
{
    border-color: #1859b2;
    background: #e6e6e6;
}

.campoAgregado, .campoAgregado:hover, .campoAgregado:active, .campoAgregado:focus
{
    color: #262626;
    border-radius: 0px;
    border-width: 2px 0px 2px 2px;
    border-style:  solid;
    border-color: #424242;
    background: white;
    
    outline: none !important;
    box-shadow: none;
}

.campoAgregadoQuitar, .campoAgregadoQuitar:hover, .campoAgregadoQuitar:active, .campoAgregadoQuitar:focus
{
    color: #262626;
    border-radius: 0px;
    border-width: 2px 2px 2px 0px;
    border-style:  solid;
    border-color: #424242;
    background: white;
    
    outline: none !important;
    box-shadow: none;
}

.botonFiltrarBarraLateral, .botonFiltrarBarraLateral:hover, .botonFiltrarBarraLateral:active, .botonFiltrarBarraLateral:focus
{
    color: white;
    background: transparent;
    
    outline: none !important;
    box-shadow: none;
}


.botonFiltroBarraLateral, .botonFiltroBarraLateral:hover, .botonFiltroBarraLateral:active, .botonFiltroBarraLateral:focus
{
    color: #1859b2;
    background: transparent;
    
    outline: none !important;
    box-shadow: none;
}

.botonTextoAzul, .botonTextoAzul:active
{
    color: #1859b2;
    background: transparent;
    font-size: 12pt;
    
    outline: none !important;
    box-shadow: none;
}

.botonTextoAzul:hover, .botonTextoAzul:focus
{
    opacity: 0.8;
    color: #1859b2;
}

/*------- Botones de ciudades -----------*/
.botonInputDropDown, .botonInputDropDown:focus, .botonInputDropDown:active, .botonInputDropDown:hover
{
    color: white;
    background: #1859b2;
    border-radius: 0px;
    
    outline: none !important;
    box-shadow: none;
}

.botonInputDropDown:disabled
{
    color: white;
    background: #1859b2;
    opacity: 0.8;
}

.filtroModal
{ 
    overflow-x: hidden;
    position: static;
}

.verFitros
{
    background: #d2e4fb;
    color:  #262626;
    border-bottom: 2px  solid #79adf4;
}

.botonFalsoTitulo, .botonFalsoTitulo:active, .botonFalsoTitulo:focus, .botonFalsoTitulo:hover
{
    color:  #262626;
    background: transparent;
    cursor: default;
    font-size: 12pt;
    
    outline: none !important;
    box-shadow: none;
}

.botonOperacionInformacion, .botonOperacionInformacion:active, .botonOperacionInformacion:focus
{
    background: red;
    color: #081e3b;
    border-radius: 0px;
    font-size: 10pt;
    
    outline: none !important;
    box-shadow: none;
}

.botonOperacionInformacion:hover
{
    background: white;
    color: #1859b2;
    
    outline: none !important;
    box-shadow: none;
}

.btnChangeDate, .btnChangeDate:active, .btnChangeDate:focus, .inputChangeDate, .inputChangeDate:hover, .inputChangeDate:active, .inputChangeDate:focus
{
    border-radius: 0px;
    color: white;
    background: transparent;
    border: 0px solid white;
    
    outline: none !important;
    box-shadow: none;
}

.btnChangeDate:hover
{
    opacity: 0.7;
    color: white;
    
    outline: none !important;
    box-shadow: none;
}


/*----- Eventos ----------*/

.actividad, .pendienteapp
{
    border-radius: 10px;
    height: 90px;
    width: 90px;
    color: black;
    position: absolute; 
}

.actividad.hoyPendiente
{
    background:  #FFC000;
}

.actividad.enEspera
{
    background: gray;
}

.actividad.done
{
    background: #00B050;
}

.actividad.pendiente
{
    background: #FFC000;
}

.btnEvento, .btnEvento:focus, .btnEvento:hover, .btnEvento:active
{
    position: relative;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    border: 2px solid white;
    background: white;
    
    margin-left: 22px;
    margin-top: 13px;
    
    text-align: center;
    font-size: 20px;
    
    outline: none !important;
    box-shadow: none;
}

.btnEvento:disabled
{
    cursor: default;
    opacity: 1.0;
}

.tituloEstatusActividad, .tituloEstatusPendiente
{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 20px;
    border-radius: 10px;
    
    text-align: center;
    background: transparent;
    color: white;
    
    border-top: 1px solid white;
}

.tituloEstatusActividad.Hoy
{
    background: #1859b2 !important;
}

.tituloEstatusActividad.Pendiente
{
    color: black !important;
}

.btnEstatusEvento, .btnEstatusEvento:hover, .btnEstatusEvento:active, .btnEstatusEvento:focus
{
    border-radius: 0px;
    border: 2px solid black;
    background: transparent;
    text-align: left;
    color: black;
    
    outline: none !important;
    box-shadow: none;
}

.btnEstatusEvento.Hecho
{
    border-color: #088A08;
    background: #088A08;
    color: white;
}

.btnEstatusEvento.disabled
{
    opacity: 0.7;
}

.estatusActividad
{
    height: 16px;
    width: 16px;
    border: 1px solid black;
    background: white;
    border-radius: 8px;
    cursor: default;
    
    outline: none !important;
    box-shadow: none;
}

.estatusActividad.Hecho
{
    border: 1px solid #00B050;
    background: #00B050;
}

.estatusActividad.Pendiente
{
    border: 1px solid #FFC000;
    background: #FFC000;
}

.estatusActividad.Hoy
{
    border: 1px solid #1859b2;
    background: #1859b2;
}

.estatusActividad.Futuro
{
    border: 1px solid gray;
    background: gray;
}


/*-- Pendiente --*/
.pendienteapp.enEspera
{
    background: #b3b3b3;
}

.pendienteapp.done
{
    background: #088A08;
}

.pendienteapp.pendiente
{
    background: #fabf15; 
}


.pendienteapp.hoyPendiente
{
    background: #79adf4; 
}
.tituloEstatusPendiente.enEspera
{
    background: #808080;
}

.tituloEstatusPendiente.done
{
    background: #0B610B;
}

.tituloEstatusPendiente.pendiente
{
    color: black;
    background: #fabf15;
}

.tituloEstatusPendiente.hoyPendiente
{
    background: #1859b2;
}


