.fechaNotas
{
    display: inline-block; 
    display: -webkit-box;  
    -webkit-line-clamp: 3;  
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fechaIndicador, .fechaIndicador:hover, .fechaIndicador:focus, .fechaIndicador:active
{
    border-radius: 8px;
    border-width: 0px;
    cursor: default;
    background: #2076ed;
    color: white;
    
    outline: none !important;
    box-shadow: none;
}

.dropdownOpcion2 /*Opciones de los dropdown list*/
{
    color: #081e3b !important;
    border-bottom: solid 1px #2076ED;;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12pt;
    cursor: pointer;
}

.dropdownOpcion2:hover, .dropdownOpcion2:focus, .dropdownOpcion2:active  /*Hover en las opciones de las dropdown list*/
{
    background-color: #2076ED !important;
    color: white !important;
    cursor: hand !important;
}

/*---------- boton filtro ----------------*/
.botonAgrupador, .botonAgrupador:hover, .botonAgrupador:focus, .botonAgrupador:active
{
    border-width: 0px;
    border-radius: 0px;
    background: transparent;
    color: #C2D3E8;
    
    outline: none !important;
    box-shadow: none;
}

.botonAgrupador.Activo
{
    color: white;
}


/*opearciones de diario detalles*/
.btnOptDiarioDetalles, .btnOptDiarioDetalles:active, .btnOptDiarioDetalles:hover, .btnOptDiarioDetalles:focus
{
    border-width: 0px;
    border-radius: 0px;
    background: transparent;
    color: #262626;

    outline: none !important;
    box-shadow: none;
}

.btnOptDiarioDetalles.boton
{
    color: #1859b2;
    font-size: 14pt;
    cursor: pointer;
}


/*--- drop down */
.dropdownOpt
{
    border-radius: 0px;
    border: solid 2px #1859b2;
    margin-top: 0px;
}

.dropdownOpt:before
{
    content: "";
    position: absolute;
    top: -24px;
    left: 10px;
    
    border: 12px solid transparent;
    border-bottom-color: #1859b2;
}

.dropdownOpt:after
{
    content: "";
    position: absolute;
    top: -18px;
    left: 13px;
    
    border: 9px solid transparent;
    border-bottom-color: white;
}

/*--- drop down */
.dropdownRight
{
    border-radius: 0px;
    border: solid 2px #1859b2;
    margin-top: 0px;
}

.dropdownRight:before
{
    content: "";
    position: absolute;
    top: -24px;
    right: 2px;
    
    border: 12px solid transparent;
    border-bottom-color: #1859b2;
}

.dropdownRight:after
{
    content: "";
    position: absolute;
    top: -18px;
    right: 5px;
    
    border: 9px solid transparent;
    border-bottom-color: white;
}

/*---- Etiqueta concepto --------------*/
.labelConcepto, .labelConcepto:hover, .labelConcepto:active, .labelConcepto:focus
{
    background: #2076ed;
    color: white;
    width: 100%;
    border-radius: 0px;
    border-bottom: 2px solid #79adf4;
    
    outline: none !important;
    box-shadow: none;
}

.labelConcepto:hover
{
    opacity: 0.9;
}

.textoGris
{
    color: #4d4d4d;
}

.botonAparente, .botonAparente:hover, .botonAparente:focus, .botonAparente:active
{
    cursor: text;
    padding-left: 0px;
    text-align: default;
    
    outline: none !important;
    box-shadow: none;
}

/*----------- tab modal ------------------*/
.tabModal
{
    color: #79adf4;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 20px !important;
    padding-top: 10px ;
}

.btnTabModal, .btnTabModal:focus
{
    color: #79adf4;
    
    outline: none !important;
    box-shadow: none;
}

.btnTabModal:hover
{
    color: #79adf4;
    
    outline: none !important;
    box-shadow: none;
}

.btnTabModal:hover > div.tabModal
{
    background: #79adf4;
    color: white;
}

.btnTabModal.active 
{
    color: #1859b2;
    
    outline: none !important;
    box-shadow: none;
}

.btnTabModal.active > div.tabModal
{
    background: #1859b2;
    color: white;
}

.diarioEntrada, .diarioEntrada:focus
{
    background-color: transparent;
    color: #262626;
    border-width: 0px 0px 3px 0px; 
    border-style: solid;
    border-color: #262626;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none;
}

.diarioEntrada:disabled
{
    background: rgba(0, 0, 0, 0.15);
    cursor: not-allowed !important;
}

.infoCenterCell
{
    height:50px; 
    align-items: center; 
    display: flex;  
    flex-wrap: wrap;
}

.botonAgregarBusqueda
{
    border-right: 2px solid #1859b2;
    border-width: 0px 3px 0px 0px;
    border-radius: 0px;
    
}

.botonAgregarBusqueda:hover
{
    border-right: 2px solid #1859b2;
    border-width: 0px 2px 0px 0px;
    border-radius: 0px;
    
    background: #d2e4fb;
}

.conceptosBuscar
{
    margin-left: 230px;
    padding: 5px;
}

.widthConcepto
{
    width: 133px;
}

@media (max-width: 767px)
{
    .conceptosBuscar
    {
        margin-left: 100px;
    }
    
    .widthConcepto
    {
        width: auto;
    }
}

.overflowPoints
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*boton de arriba*/
#btnTop 
{
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    left: 50%;

   text-align: center;
}

.btnTop, .btnTop:hover, .btnTop:active, .btnTop:focus 
{
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: white;
    color: #1859b2;
    border: 2px solid #1859b2;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    margin-left: -18px;
    
    outline: none !important;
    box-shadow: none;
}


