<div ng-controller="ConocimientoController as conocimineto" id="conocimientoform">
   
   
    <div class="container-fluid">
       
        <!-- Barra de Busqueda -->
        <div class="barraBuscarInformacion">
            

            <div class="row ">
               <div class="col-xs-12">

                   <div class="input-group input-group-lg" style="color: black">

                         <!-- Agregar -->
                         <span class="input-group-btn ">
                               <button type="button" class="btn botonBuscarFiltro botonAgregarBusqueda" ng-click="AbrirConocimiento('Agregar', null)">
                                    <span class="fa fa-plus"></span> <span class="hidden-xs"> Agregar</span>
                               </button>
                          </span>

                         <!-- Span Buscar -->
                         <div class="input-group-addon addonGroup" style="border-right-width: 0px">
                            <span class="fa fa-search"></span>
                        </div>

                          <!-- entradas -->
                          <input type="text" placeholder="Buscar por Concepto" class="form-control inputBuscar" ng-model="buscarConceptoBarra" uib-typeahead="e as (e.Nombre + e.Tema) for e in FiltroConcepto($viewValue)  | limitTo:7" typeahead-on-select="SetFiltroEtiqueta()" typeahead-select-on-blur="true" typeahead-focus-first="true" typeahead-editable="true" id="filtroConcepto" autocomplete="off" style="border-left-width: 0px"><!-- ng-blur="SetFiltroEtiquetaBlur(selected)" --> 
                          
                          <!-- limpiar texto -->
                          <span class="input-group-btn">

                             <button class="btn botonBuscarFiltro"  ng-click="buscarConceptoBarra = ''" style="border-width: 0px; border-right: 3px solid #1859b2; border-radius: 0px !important">
                                   <span class="fa fa-times-circle" ></span>
                             </button>
                          </span>
                    </div>

               </div>
            </div>

        </div>
        
        <div class="row">

            <div class="col-xs-12">
                
                
                <!-- Separador -->
                <div class="row" style="height:56px">
                   <div class="col-xs-12" >
                   </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12" style="width: 100%">

                      <!-- Separador -->
                        <div class="row" style="height:74px">
                           <div class="col-xs-12  text-center" >
                           </div>
                        </div>
                    </div>
                </div>
 
                <!-- Fitros -->
                <div class="row verFitros" ng-show="(filtro.tema.length + filtro.frecuencia.length + filtro.etiqueta.length) > 0">

                    <div class="btn-group pull-right">
                
                         <!-- Limpiar filtro -->
                         <button class="btn  botonFiltrarBarraLateral text-center " style="color:black" ng-click="GetConocimiento()" >
                             <b ><span class="fa fa-search"></span> Buscar</b>
                         </button>
                       
                       <button class="btn  botonDetallesActividad" ng-click="CambiarVerFiltro()" >
                           <b class="fa fa-angle-double-right" ng-if="!verFiltro"></b>
                           <b class="fa fa-angle-double-up" ng-if="verFiltro"></b>
                       </button>
                    </div>
                    
                    <!-- Etiquetas -->
                    <div class="col-xs-12" ng-show="filtro.etiqueta.length && verFiltro">
                        <b> Etiquetas: </b><br>
                        <span ng-repeat="etiqueta in filtro.etiqueta | orderBy:'Nombre' track by $index">
                            <div class="btn-group" role="group" style="margin-bottom:8px">
                                <a class="btn campoAgregado" ng-click="QuitaretiquetaFiltro(etiqueta)" style="font-size:10pt">{{etiqueta.Nombre}}</a>
                                <a class="btn campoAgregadoQuitar" style="font-size:10pt" ng-click="QuitaretiquetaFiltro(etiqueta)"><span class="fa fa-times-circle"></span></a>
                            </div>
                        </span>
                    </div>

                    <!-- Temas -->
                    <div class="col-xs-12" ng-show="filtro.tema.length > 0 && verFiltro">
                        <b> Tema: </b><br>                        
                        <span ng-repeat="tema in filtro.tema | orderBy:'Tema'" >
                            <div class="btn-group" role="group" style="margin-bottom:8px">
                                <a class="btn campoAgregado" ng-click="QuitarTemaFiltro(tema)" style="font-size:10pt">{{tema.Tema}}</a>
                                <a class="btn campoAgregadoQuitar" style="font-size:10pt" ng-click="QuitarTemaFiltro(tema)"><span class="fa fa-times-circle"></span></a>
                            </div>
                        </span>
                    </div>
                    
                    <!-- Buscar  botón -->
                    <div style="margin-right: 37px">
                       <button class="btn  botonFiltrarBarraLateral text-center pull-right" style="color:black; border-right: : 2px solid black" ng-click="LimpiarFiltro()" ng-show="verFiltro">
                           <b ><span class="fa fa-ban"></span> Limpiar</b>
                       </button>
                    </div>
                    
                </div>
                
                <div ng-include=" 'html/Control/BotonTop.html' "></div>
                
            </div>
        </div>
        
        <div class="row">
           <div class="col-xs-12">
               <div style="height: 5px"></div>
           </div>
        </div>
        
        <!---- datalles -->
        <div class="row">
           <div class="col-xs-12">
            
              <div  ng-repeat="c in conocimiento | orderBy:['Hecho','Titulo']" class="">
                  
                   <div  class="input-group conocimientoFormUp">

                      <div class="control-form conocimientoForm">
                          <b>  <span class="fa {{c.Hecho == '1' ? 'fa-check-circle-o textoVerde' : 'fa-circle-o'}}"></span> {{c.Titulo}}</b><br>
                            <span>{{c.Informacion}}</span>       
                       </div>

                        <div class="input-group-btn">

                            <button class="btn PendienteOptBtn" ng-click="VerOpt(c.ConocimientoId)" id="opt">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                        
                        </div>
                        
                        <!-- opt de conocimiento -->
                        <div  class="pull-right conocimientoOpt animated " ng-class="{slideInRight : vercon == c.ConocimientoId, slideOutRight : vercon2 == c.ConocimientoId}" ng-show=" vercon ==  c.ConocimientoId || vercon2 ==  c.ConocimientoId" style="width: auto">

                             <div class="btn-group">
                                
                                 
                                 <button class="btn btnOptPendiente Borrar" ng-click="BorrarConocimiento(c)">
                                     <span class="fa fa-trash"></span> <br>Borrar
                                </button>
                                 
                                 <!--<button class="btn btnOptPendiente Copiar" ng-click="AbrirPendiente('Copiar', p)">
                                    <span class="fa fa-files-o"></span> <br>Copiar
                                </button>-->

                                 <button class="btn btnOptPendiente Detalle" ng-click="VerConocimiento(c)">
                                    <span class="fa fa-eye"></span> <br>Detalle
                                </button>

                                <button class="btn btnOptPendiente Editar" ng-click="AbrirConocimiento('Editar', c)">
                                     <span class="fa fa-pencil"></span> <br>Editar
                                </button>

                                
                            </div>

                         </div>
                    
                   </div>
                   
               </div>

           </div>
       </div>
        
    </div>

    
    <!-- -------------------------------- Modales ----------------------------------------------------------------------- -->
    <!-- Agregar - Editar -->
    <div class="modal fade" id="modalApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <!-- Alertas -->
                    <div class="alertaMensaje" id="alertaExitosoNota">
                        <div class="alert alertaExtito">
                            <!--<button type="button" class="close" data-dismiss="alert">x</button>-->
                            <span class="fa fa-check-circle-o fa-2x textIconoExito" style="font-size:16pt"></span>
                            <strong style="display: inline-block;">{{mensaje}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            
            <br>
            <div class="row">
                <div class="col-xs-8 col-sm-10">
                    <!--<button class="btn close cerrarModal" ng-click="CerrarCancion()"><span aria-hidden="true">&times;</span></button>-->
                    <span class="tituloModal">{{operacion}} Conocimiento</span>
                </div>
                
                <div class="col-xs-4 col-sm-2">
                    <div class="btn-group-vertical pull-right" role="group" >
                        <a class="btn botonFinModal"  ng-click="CerrarConocimiento()"><span class="fa fa-times"></span></a>
                        <a focus class="btn botonFinModal" id="terminarEtiqueta" ng-click="TerminarConocimiento()"><span class="fa fa-check"></span></a>
                    </div>
                </div>
                
                
            </div>
            <br>
            
            <form name="conocimientoForma">
              
               <div class="row">
                     <div class="col-xs-12">
                         
                         <div class="text-center">
                             <a class="btn btnTabModal" ng-click="tabModal = 'Datos'" ng-class="{active: tabModal == 'Datos'}"><div class="fa fa-book tabModal"></div><br>Datos</a>
                             <a class="btn btnTabModal" ng-click="tabModal = 'Imagenes'" ng-class="{active: tabModal == 'Imagenes'}"><div class="fa fa-image  tabModal"></div><br>Imágenes</a>
                             <a class="btn btnTabModal" ng-click="tabModal = 'Archivos'" ng-class="{active: tabModal == 'Archivos'}"><div class="fa fa-file  tabModal"></div><br>Archivos</a>
                         </div>
                                          
                     </div>
                 </div>
                 <br>
                 
                 <div ng-show="tabModal == 'Datos'">
                 
                     <div class="row">
                         <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                               <a class="btn btn-block btnEstatusEvento" style="margin-top: 5px" ng-class="{ Hecho : nuevoConocimiento.Hecho == '1'}" ng-click="CambiarHecho(nuevoConocimiento.Hecho)"> <!-- disabled : (nuevoPendiente.FechaIntencion > hoy) -->
                                <span class="fa {{nuevoConocimiento.Hecho == '1' ? 'fa-check-circle-o' : 'fa-circle-o'}} Hecho" style="font-size: 14pt"></span>
                                <spna>{{nuevoConocimiento.Hecho == '1' ? 'Hecho' : 'No Hecho'}}</spna>
                             </a>
                         </div>
                         
                         <div class="col-xs-12 ">
                             <div style="height: 30px"></div>
                         </div>
                     </div>
                     
                     <div class="row">
                         
                     </div>
                 
                     <div class="row">
                         <div class="col-xs-12">
                             
                            <div class="input-group">
                                 <div class="entrada2">
                                    <textarea required type="text"  class="form-control entrada areainput" style="font-size:12pt" name="titulo" ng-model="nuevoConocimiento.Titulo" maxlength="300" autocomplete="off" ng-blur="CrearEtiquetaSugerida()" rows="1"></textarea>
                                    <label class="">Título</label>
                                 </div>
                                 
                                 <span class="input-group-btn">
                                    <a class="btn close cerrarModal"  ng-click="nuevoConocimiento.Titulo = ''" type="button"><span class="fa fa-times-circle"></span></a>
                                </span>
                             </div>
                             
                         </div>
                     </div>
                     <br>
                     
                     <div class="row">
                         <div class="col-xs-12">
                            
                             <div class="">
                                <label class="etiquetaNormal">Información</label>
                                <textarea required type="text"  class="form-control contenidoArea" style="font-size:12pt" name="informacion" ng-model="nuevoConocimiento.Informacion" maxlength="19000"></textarea>
                            </div>
                             
                         </div>
                     </div>
                     <br>
                     
                     <div class="row">
                         <div class="col-xs-12">
                            
                             <div class="">
                                <label class="etiquetaNormal">Observaciones</label>
                                <textarea  type="text"  class="form-control contenidoArea" style="font-size:12pt" name="observacion" ng-model="nuevoConocimiento.Observacion" maxlength="2000"></textarea>
                            </div>
                             
                         </div>
                     </div>
                     <br>
                     
                     <div class="row" >
                    
                         <div class="col-sm-12">

                          <div ng-show="etiquetaSugerida.length > 0">
                            <div>
                               <b >Etiquetas Sugeridas</b>
                                <span class="btn-group pull-right">
                                     <a class="btn btnOptDiarioDetalles boton" ng-click="AgregarTodaEtiquetaSugerida()"> <span class="fa fa-check-circle-o"></span></a>
                                     <a class="btn btnOptDiarioDetalles boton" ng-click="etiquetaSugerida = []"> <span class="fa fa-times-circle-o"></span></a>
                                 </span>
                            </div>
                            <br>

                             <span ng-repeat="etiqueta in etiquetaSugerida track by $index">
                                 <div class="btn-group" role="group" style="margin-bottom:8px">
                                  <a class="btn campoAgregado"  style="font-size:10pt" ng-click="AgregarEtiquetaSugerida(etiqueta, $index)">{{etiqueta}}</a>
                                  <a class="btn campoAgregadoQuitar" style="font-size:10pt" ng-click="etiquetaSugerida.splice($index, 1)"><span class="fa fa-times-circle"></span></a>
                                </div>
                             </span>
                             <br> 
                         </div>

                         <div ng-show="temaSugerido.length > 0">
                             <div>                         
                                 <b >Temas Sugeridos</b><br><br>   
                             </div> 
                             <span ng-repeat="tema in temaSugerido track by $index">
                                 <div class="btn-group" role="group" style="margin-bottom:8px">
                                  <a class="btn campoAgregado"  style="font-size:10pt" ng-click="AgregarTemaSugerido(tema, $index)">{{tema}}</a>
                                  <a class="btn campoAgregadoQuitar" style="font-size:10pt" ng-click="temaSugerido.splice(index, 1)"><span class="fa fa-times-circle"></span></a>
                                </div>
                             </span>
                             <br>

                         </div>
                         <br>



                        </div>
                    </div>
                 
                     <div  ng-include=" 'html/Control/EtiquetaControl.html' " ng-init="IniciarModal('Conocimiento')" ng-controller="ControlEtiquetaController as ac"></div>
                     
                </div>
                
                
                <div ng-show="tabModal == 'Imagenes'">
                    <!-- Imagenes -->
                    <div class="row" >

                        <div class="col-xs-12">
                            <a ng-click="AbrirFototeca()" class="pull-right btn operacionEvento"> 
                                <span class="fa fa-picture-o"></span> Mis Imágenes
                            </a>
                        </div>
                    </div>
                    
                    <div class="row">

                        <div class="col-sm-12">

                           <div  method="post" enctype="multipart/form-data">

                                <div class="form-group files">
                                    <input id="cargarImagen" type="file" class="form-control" multiple accept="image/*" name="imagen" > <!-- onchange="angular.element(this).scope().CargarArchivo(this)" -->
                                </div>
                            </div>

                        </div>
                    </div>
                
                    <br>
                    
                    <!--<div class="row" ng-show="nuevoConocimiento.ImagenSrc.length > 0">
                        <div class="col-xs-12 col-sm-6 pull-right">
                            <!-- Resolución --
                             <div class="etiquetaDropdownList " id="lugarEventoPanel" style="margin-top: 0px">
                                <div class="dropdown">
                                    <button class="btn btn-block dropdownListModal" data-toggle="dropdown" ng-disabled="nuevoPendiente.Hecho == '1'">
                                        Resolución: {{nuevoConocimiento.Resolucion}} 
                                        <div class="pull-right">
                                            <span class="caret"></span>
                                        </div>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-right " style="margin-top: 0px; width: 100%; border-radius: 0px">

                                        <li ng-repeat="r in resolucion ">
                                            <a class="dropdownOpcion2" ng-click="nuevoConocimiento.Resolucion = r">
                                                {{r}}
                                            </a>
                                        </li>

                                    </ul>

                                 </div>
                            </div> 
                        </div>
                    </div>
                    <br ng-show="nuevoConocimiento.ImagenSrc.length > 0">-->
                    

                   <div class="row" >
                       <div class="col-xs-12">
                           <table  class="table table-responsive">

                                <tbody  style="cursor: pointer">

                                    <tr   ng-repeat="img in nuevoConocimiento.ImagenSrc" ng-if="nuevoConocimiento.ImagenSrc.length > 0">
                                      
                                      <td class="text-center">
                                          <a class="btn operacionEvento infoCenterCell" style="font-size: 13pt;" ng-click="EtiquetarImagen(img, 'prev')">
                                            <span >
                                             <span class="fa fa-tag"> </span> <span> ({{ContarEtiquetasVisibles(img.Etiqueta)}}) </span>
                                             <span class="fa fa-comment-o"> </span> <span> ({{img.Tema.length}}) </span>
                                            </span>
                                         </a>
                                      </td>
                                     
                                      <td style="width: 100px; max-width: 100px">
                                          <div class="imgContainer" style="height:50px">
                                              <a style="overflow: hidden !important; max-height: 50px">
                                                <img class="img-responsive" style="width: 100%" src=" {{img.Src}}" ng-click="VerImganes(true, true, false, nuevoConocimiento.Imagen, nuevoConocimiento.ImagenSrc, $index, 0)"/>
                                              </a>
                                          </div>
                                        </td>

                                      <td class="hidden-xs"> <span class="infoCenterCell">{{img.name}}</span> </td>
                                        <td class="hidden-xs">  <span class="infoCenterCell">{{(img.size/1000000).toFixed(2)}} MB</span> </td>
                                      <td class="text-center">
                                          <a class="btn btnQuitarImg" ng-click="nuevoConocimiento.ImagenSrc.splice($index,1); nuevoConocimiento.ImagenTh.splice($index,1); nuevoConocimiento.ImagenWeb.splice($index,1);">
                                             <span class="fa fa-times-circle"></span>
                                         </a>
                                      </td>
                                      
                                                   
                                    </tr>

                                    <tr ng-repeat="img in nuevoConocimiento.Imagen" style="background: #d2e4fb;" ng-if="img.Eliminada != true">
                                     <td class="text-center">
                                          <a class="btn operacionEvento infoCenterCell" ng-click="EtiquetarImagen(img, 'img')" style="font-size: 13pt;">
                                            <span >
                                             <span class="fa fa-tag"> </span> <span> ({{ContarEtiquetasVisibles(img.Etiqueta)}}) </span>
                                             <span class="fa fa-comment-o"> </span> <span> ({{img.Tema.length}}) </span>
                                            </span>
                                         </a>
                                      </td>
                                      
                                      <td style="width: 100px">
                                        <div class="imgContainer" style="height:50px">
                                             <a style="overflow: hidden !important; max-height: 50px">
                                                <img class="img-responsive" style="width: 100%" src="php/API/ArchivosUsuario/{{UsuarioId}}/IMG/Thumbnail/{{img.Nombre}}" ng-click="VerImganes(true, true, false, nuevoConocimiento.Imagen, nuevoConocimiento.ImagenSrc, $index, 1)"/>
                                             </a>
                                        </div>
                                      </td>
                                      
                                        <td class="hidden-xs">  <span class="infoCenterCell">{{img.Nombre}}</span> </td>
                                        <td class="hidden-xs">  <span class="infoCenterCell">{{(img.Size/1000000).toFixed(2)}} MB </span></td>
                                      <td class="text-center">  
                                          <a class="btn btnQuitarImg" ng-click="img.Eliminada = true">
                                             <span class="fa fa-times-circle"></span>
                                         </a>
                                      </td>
                                    </tr>

                                </tbody>

                            </table>
                       </div>
                    </div>
                                             
                     <div class="row"  ng-if="(fotoEliminada = (nuevoConocimiento.Imagen | filter:{Eliminada:'true'}  ).length) > 0">
                       <div class="col-xs-12">

                           <a class="btn botonDetallesActividad" ng-click="showEliminada = !showEliminada">
                               <span>Fotos Eliminadas ({{fotoEliminada}})</span>
                               <span ng-show="showEliminada" class="fa fa-angle-double-up"></span>
                               <span ng-show="!showEliminada" class="fa fa-angle-double-right"></span>
                           </a>
                           <table  class="table table-responsive" ng-show="showEliminada">

                                <tbody  style="cursor: pointer">

                                    <tr ng-repeat="img in nuevoConocimiento.Imagen"  ng-if="img.Eliminada == true">
                                      <td style="width: 100px">
                                          <div class="imgContainer" style="height:50px">
                                              <a style="overflow: hidden !important; max-height: 50px">
                                                  <img class="img-responsive" style="width: 100%" src="php/API/ArchivosUsuario/{{UsuarioId}}/IMG/Thumbnail/{{img.Nombre}}" ng-click="VerImganes(false, false, true, nuevoConocimiento.Imagen, null, $index)"/>
                                              </a>
                                          </div>
                                      </td>
                                    
                                      <td class="hidden-xs " > <span class="infoCenterCell">{{img.Nombre}}</span> </td>
                                        <td class="hidden-xs"> <span class="infoCenterCell"> {{(img.Size/1000000).toFixed(2)}} MB </span></td>
                                      <td class="text-center">  
                                          <a class="btn btnAgregarImg" ng-click="img.Eliminada = false">
                                             <span class="fa fa-check-circle"></span>
                                         </a>
                                      </td>
                                    </tr>

                                </tbody>

                            </table>
                       </div>
                    </div>
                </div>
                  
                <div ng-show="tabModal == 'Archivos'">
                
                  <div ng-include=" 'html/Archivo/Archivo.html' " ></div>    
                
                </div>
               
               
               <br><br>
                <!---- botones de operación -->
                <div class="row">
                    <div class="col-xs-6">
                        <a class="btn botonFinModal btn-block" ng-click="CerrarConocimiento()">CANCELAR</a>
                    </div>

                    <div class="col-xs-6">
                        <a focus class="btn botonFinModal btn-block" ng-click="TerminarConocimiento()">TERMINAR</a>
                    </div>
                </div>
                <br>
               
            </form> 
            
        </div>
    </div>
    
    <!-- Detalle pendiente -->
    <div class="modal fade sombraDivModal" id="detalleConocimiento">
        <br>    <br>   <br>
        <div class="modal-dialog modal-lg modalPrincipal">
          
          
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>

                </div>
            </div>
            
            <!-- Contenido -->                
        
            <div class="row">
                <div class="col-xs-12">
                    <!-- Nombre -->
                    <span class="tituloModal">{{detalle.Titulo}}</span><br><br>

                    <span style="color: #808080">
                        <!-- Etiqueta -->
                        <span ng-if="detalle.EtiquetaVisible.length > 0">
                            <b>Etiquetas: </b> 
                            <span ng-repeat="etiqueta in detalle.EtiquetaVisible">
                                <span ng-if="!$last">{{etiqueta.Nombre}},</span>
                                <span ng-if="$last">{{etiqueta.Nombre}}.</span>
                            </span><br>
                        </span>

                        <!-- tema -->
                        <span ng-if="detalle.Tema.length > 0">
                            <b>Temas: </b> 
                            <span ng-repeat="tema in detalle.Tema">
                                <span ng-if="!$last">{{tema.Tema}},</span>
                                <span ng-if="$last">{{tema.Tema}}.</span>
                            </span><br>
                        </span>
                        
                        
                  </span>
                   <br>
                   
                   <!-- Informacion -->
                    <span ng-if="detalle.Informacion">
                        <b>Información: </b> <br>
                        <span >
                           <p style="font-size:12pt" ng-bind-html="detalle.InformacionHTML"></p>
                        </span>
                        <br>
                    </span>
                    

                   <!-- Observacion -->
                    <span ng-if="detalle.Observacion">
                        <b>Observaciones: </b> <br>
                        <span >
                           <p style="font-size:12pt" ng-bind-html="detalle.ObservacionHTML"></p>
                        </span>
                        <br>
                    </span>
                    <br>



                </div>
                <br>

                <div class="col-xs-12" style="padding-left: 12px; padding-right: 12px" ng-if="detalle.Imagen.length > 0">
                     <div id="detalleImagen" class="carousel fdi-Carousel slide">
                         <!-- Carousel items -->
                         <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="1000">
                            <div class="carousel-inner onebyone-carosel">

                                <!-- Imagenes -->
                                <div class="item active" ng-repeat="i in detalle.iImg track by $index">
                                    <div class="col-xs-4 col-sm-3 col-lg-2" style="padding-left: 3px; padding-right: 3px">
                                       <div class="imgContainer" >
                                            <div class="crop center-block">
                                                 <img class="" style=" width:100%; cursor: pointer" src="php/API/ArchivosUsuario/{{UsuarioId}}/IMG/Thumbnail/{{detalle.Imagen[i].Nombre}}" ng-click="VerImganes(true, false, false, detalle.Imagen, null, i)"/>
                                             </div>
                                        </div>
                                    </div>
                                </div>

                                 <!-- Navigation -->
                                <a class="left carousel-control"  ng-click="CambiarIndiceDetalle(-1, detalle);" ng-if="carroselIntervalo < detalle.Imagen.length">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control"  ng-click="CambiarIndiceDetalle(1, detalle);" ng-if="carroselIntervalo < detalle.Imagen.length">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>



                        </div>
                     </div>
                 </div>
                 
                 <div class="col-xs-12">
                     <br>
                 </div>

                 <div class="col-xs-12">
                        <div class="table-responsive">
                           <table  class="table table-responsive">

                                <tbody  style="cursor: pointer">

                                    <!-- Archivos agregados -->
                                    <tr ng-repeat="file in detalle.Archivo" ng-if="detalle.Archivo.length > 0" >

                                      <td >
                                          <span class="infoCenterCell">
                                              <span>{{file.Nombre}}</span>
                                           </span> 
                                      </td>

                                      <td class="hidden-xs" style="text-align: right">  <span class="infoCenterCell">{{(file.Size/1000000).toFixed(2)}} MB</span> </td>

                                      <td class="text-center">
                                          <a class="btn btnOptDiarioDetalles boton" href="php/API/ArchivosUsuario/{{UsuarioId}}/Archivo/{{file.Nombre}}" target="_blank">
                                             <span class="fa fa-download"></span>
                                         </a>
                                      </td>


                                    </tr>

                                </tbody>

                            </table>
                        </div>
                   </div>

            </div>
    
        </div>
    </div>
    
    <!---------- fototeca ---------------->
    <div class="modal fade sombraDivModal" id="fototeca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-lg modalPrincipal">
         
            <div class="row">
                
                <div class="col-xs-12">
                    <div class="btn-group-vertical pull-right" role="group" >
                        <a class="btn botonFinModal"  data-dismiss="modal" aria-label="Close"><span class="fa fa-times"></span></a>
                        <a focus class="btn botonFinModal" ng-click="AgregarImagenes()" ><span class="fa fa-check"></span></a>
                    </div>
                </div>
            </div>
            <br>
          
            <div class="row">
                 <div ng-repeat="img in fototeca">
                    <!-- Imagenes -->
                    <div style="padding-left: 12px;  padding-right: 12px">
                         <div class="col-xs-4 col-sm-3 col-lg-2" style="padding-left: 3px;  padding-right: 3px">
                           <div class="imgContainer" >
                                <div class="crop center-block">

                                    <a class="btn checkImage btn-block" ng-if="img.Seleccionada" ng-click="AgregarQuitarImagenFototeca(img)">
                                        <span class="fa fa-check-circle" ></span>
                                    </a>
                                     <img class="" style=" width:100%;" src="php/API/ArchivosUsuario/{{UsuarioId}}/IMG/Thumbnail/{{img.Nombre}}" ng-click="AgregarQuitarImagenFototeca(img)"/>
                                 </div>
                            </div>
                            <div style="height: 15px"></div>
                         </div>
                     </div>
                </div>     
            </div>            
            <br>
            <!---- botones de operacion -->
            <div class="row">
                <div class="col-xs-6">
                    <a class="btn botonFinModal btn-block" data-dismiss="modal" aria-label="Close">CANCELAR</a>
                </div>

                <div class="col-xs-6">
                    <a focus class="btn botonFinModal btn-block" ng-click="AgregarImagenes()" >TERMINAR</a>
                </div>
            </div>

        </div>
    </div>
    
    <!---------- VerImagen ---------------->
    <div class="modal fade sombraDivModal" id="verImagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog modal-md modalPrincipal">
          
          <div class="row">
                <div class="col-xs-12">
                    <a class="pull-right" data-dismiss="modal" aria-label="Close"> <span class="fa fa-times changeImage">    </span></a>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12">
                    <div id="myCarousel2" class="carousel  slide">
  
                      <!-- Items -->
                      <div class="carousel-inner">
                        <div class="item" ng-class="{active: $index == iImg}" ng-repeat="img in detalleImagen">
                            <img   ng-if="iImg <= iLmt" class="img-responsive center-block" src="php/API/ArchivosUsuario/{{UsuarioId}}/IMG/Web/{{img.Nombre}}"/>
                            <img   ng-if="iImg > iLmt" class="img-responsive center-block" src="{{img.Src}}"/>
                        </div>
                      </div>
                      <!-- Navigation -->
                       <a class="left carousel-control"  ng-click="changeImageViewed(-1);" ng-if="detalleImagen.length > 1">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control"  ng-click="changeImageViewed(1);" ng-if="detalleImagen.length > 1">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!-- Borrar -->
    <div class="modal fade sombraDivModal" id="borrarConocimiento">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">{{mensajeBorrar}}</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarBorrarConocimiento()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
     <!-- Cerrar -->
    <div class="modal fade sombraDivModal" id="cerraConocimiento">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">¿Estas seguro de salir sin guardar los cambios?</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarCerrarConocimiento()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
    <!-- Cambair hecho -->
    <div class="modal fade sombraDivModal" id="cambiarHechoConocimiento">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">¿Estas seguro de cambiar el estado a No Hecho?</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarCambiarHecho()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
    <div ng-include=" 'html/Control/MensajeModal.html' "></div>
    <div ng-include=" 'html/Archivo/EtiquetaArchivo.html' "></div>
</div>
   
<!--------------- otros html -------------------->
<div ng-include=" 'html/Imagen/EtiquetaImagen.html' "></div>
<div ng-include=" 'html/Sabiduria/Administrar/Etiqueta/AgregarEtiqueta.html' "></div>
<div ng-include=" 'html/Sabiduria/Administrar/Etiqueta/EtiquetaEquivalente.html' "></div>
<div ng-include=" 'html/Control/AgregarTema.html' "></div>

   
    