<div ng-controller="AplicacionController as aplicacion">
   
    <div class="container-fluid" ng-show="detalle.length == 0">
       
       <div class="row">
            <div class="col-xs-12">
                <div style="margin-top:57px"> </div>
            </div>
        </div>
        
        <!-- Barra de Busqueda -->
        <div class="barraBuscarInformacion">
           
            <div class="row ">
               <div class="col-xs-12">
                  
                   <div class="input-group input-group-lg">
                     
                         <!-- tipo de busqueda -->
                          <span class="input-group-btn">
                               <button type="button" class="btn botonBuscarFiltro dropdown-toggle" style="width: 133px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fa fa-search"></span> {{campoBuscar}}
                               </button>
                                <ul class="dropdown-menu dropdown-menu-left" style=" border-radius:0px">

                                 <li><a href="" ng-click="CambiarCampoBuscar('Conceptos')" class="dropdownOpcion2">
                                      Conceptos
                                  </a></li>

                                  <li><a href="" ng-click="CambiarCampoBuscar('Fecha')" class="dropdownOpcion2"> 
                                      Fecha
                                  </a></li>
                                </ul>
                          </span>

                          <!-- entradas -->
                          
                          <span style="color: black;" ng-class="{'pull-right': anchoPantalla<767}">
                              <input  type="submit" id="fechaFiltro" class="form-control entrada"  style="display: block; position: static; background: transparent; width:1%; margin-top:-35px; border-color: transparent; z-index: -9999" onblur="angular.element(this).scope().CambiarFechaFiltro(this)"/> 
                          </span>
                          
                        <input ng-show="campoBuscar=='Conceptos'" type="text"  style="display: block; position: block;" placeholder="Consultar" class="inputBuscar form-control" name="buscarConceptoFiltro" ng-model="buscarConcepto" id="buscarConcepto" autocomplete="off">
                        
                          <input ng-show="campoBuscar=='Fecha'" type="text" class="form-control inputBuscador bordeAzulLeft" ng-click="AbrirCalendario()" ng-model="filtro.fechaFormato">
                        
                          <div ng-show="buscarConcepto.length > 0" class="dropdown-menu modalAgregarDropdown" style="margin-left:130px; padding: 5px">

                             <li><a href="" ng-click="SetFiltroEtiqueta(etiqueta)" class="dropdownOpcion2 text-left" ng-repeat="etiqueta in etiqueta | filter:BuscarEtiquetaFiltro | orderBy:'Nombre'" ng-show="etiqueta.mostrar">
                                  {{etiqueta.Nombre}}
                              </a></li>

                              <li><a href="" ng-click="SetFiltroTema(tema)" class="dropdownOpcion2" ng-repeat="tema in tema | filter:BuscarTemaFiltro | orderBy:'Nombre'"  ng-show="tema.mostrar"> 
                                  {{tema.Tema}}
                              </a></li>

                          </div>
                          

                          <!-- origen de informacion -->
                          <span class="input-group-btn">

                             <button class="btn botonBuscarFiltro hidden-xs" ng-click="LimpiarBuscar()" style="border-width: 0px; border-right: 3px solid #1859b2; border-radius: 0px !important">
                                <span class="fa fa-times-circle" ></span>
                            </button>
                          </span>
                                          
                    </div>
                    
                    
               </div>
            </div>
            
        </div>
        
        <!-- Opcion de busqueda por aplicacion -->
        <div class="row">
            <div class="col-xs-12" style="width: 100%">
             
              <!-- Separador -->
                <div class="row" style="height:74px">
                   <div class="col-xs-12  text-center" >
                   </div>
                </div>
            </div>
        </div>
    
        <div class="row" ng-show="(filtro.tema.length + filtro.etiqueta.length + filtro.fecha.length) > 0">
            <div class="col-xs-12 barraApp" style="width: 100%">
             
               <div class="btn-group">
                    <a href="" ng-repeat="app in appBuscar" class="btn botonBarraApp" ng-class="{Activo: app == appFiltro}" ng-click="CambiarAppFiltro(app)">
                        {{app}} 
                    </a>
                </div>
            </div>
        </div>
        
         <!-- Fitros -->
        <div class="row" ng-show="(filtro.tema.length + filtro.etiqueta.length) > 0">
           <div class="col-xs-12" style="width: 100%">
                
                
                <div class="row verFitros" >

                    <div class="col-xs-12">
                        
                        <!-- Botones -->
                       <div class="pull-right btn-group">
                          
                            <!-- Limpiar filtro -->
                            <button class="btn  botonFiltrarBarraLateral text-center" style="color:black" ng-click="LimpiarFiltro()" >
                               <span class="fa fa-ban" style="font-size:14pt"></span>
                           </button>

                           <!-- Ver Detalles -->
                           <button class="btn  botonDetallesActividad" ng-click="CambiarVerFiltro()">
                               <b class="fa fa-angle-double-right" ng-if="!verFiltro" style="font-size:18pt"></b>
                               <b class="fa fa-angle-double-up" ng-if="verFiltro" style="font-size:18pt"></b>
                           </button>

                        </div>
                        
                    </div>
            
                    
                    <!-- Etiquetas -->
                    <div class="col-xs-12" ng-show="filtro.etiqueta.length && verFiltro">
                        <b> Etiquetas: </b><br>
                        <span ng-repeat="etiqueta in filtro.etiqueta | orderBy:'Nombre'">
                            <div class="btn-group" role="group" style="margin-bottom:8px">
                                <a class="btn campoAgregado" ng-click="QuitaretiquetaFiltro(etiqueta)" style="font-size:10pt">{{etiqueta.Nombre}}</a>
                                <a class="btn campoAgregadoQuitar" style="font-size:10pt" ng-click="QuitaretiquetaFiltro(etiqueta)"><span class="fa fa-times-circle"></span></a>
                            </div>
                        </span>
                    </div>
                    
                    <!-- Temas -->
                    <div class="col-xs-12" ng-show="filtro.tema.length > 0 && verFiltro">
                        <b> Tema: </b><br>                        
                        <span ng-repeat="tema in filtro.tema | orderBy:'Tema'" >
                            <div class="btn-group" role="group" style="margin-bottom:8px">
                                <a class="btn campoAgregado" ng-click="QuitarTemaFiltro(tema)" style="font-size:10pt">{{tema.Tema}}</a>
                                <a class="btn campoAgregadoQuitar" style="font-size:10pt" ng-click="QuitarTemaFiltro(tema)"><span class="fa fa-times-circle"></span></a>
                            </div>
                        </span>
                    </div>
                    
                </div>
            
            </div>
        </div>
        
        
        <!------------------------------ Información filtrada --------------------------->
        <div class="row" >
            <div class="col-xs-12" ><!-- ng-show="anchoPantalla > 767 || detalle.length == 0" -->
               
                <!-- Actividades -->
               <div class="row" ng-show="(filtro.etiqueta.length > 0 || filtro.tema.length > 0 || filtro.fecha.length > 0) && (appFiltro == 'Todo')">
                    <a  class="btn labelConcepto"  ng-click="verApp.actividad = !verApp.actividad">
                        <b class="col-xs-12  text-center"  style="white-space: normal; max-width: 90%; overflow: hidden;" >Actividades ({{actividad.length}})</b>
                        <span class="fa fa-angle-double-right" ng-if="!verApp.actividad "></span>
                        <span class="fa fa-angle-double-up" ng-if="verApp.actividad "></span>
                    </a>
                </div>

                <div class="row" ng-if="(verApp.actividad && appFiltro == 'Todo') || appFiltro == 'Actividades'"> <!-- ng-if="agrupar == 'Titulo'" -->
                    <a ng-repeat="actividad in actividad | orderBy:'Nombre' "  class="btn appElemento " ng-click="GetActividadPorId(actividad.ActividadId)"> <!-- ng-if="(fecha.Diario | filter:FiltrarDiario).length > 0" -->
                        <!-- indicador -->
                        <span class="col-xs-12"  style="white-space: normal; max-width: 90%; overflow: hidden;">
                            {{actividad.Nombre}}
                        </span>
                    </a>
                </div>
                
                <!-- Diario -->
               <div class="row" ng-show="(filtro.etiqueta.length > 0 || filtro.tema.length > 0 || filtro.fecha.length > 0) && (appFiltro == 'Todo')">
                    <a  class="btn labelConcepto"  ng-click="verApp.diario = !verApp.diario">
                        <b class="col-xs-12  text-center"  style="white-space: normal; max-width: 90%; overflow: hidden;" >Diario ({{diario.length}})</b>
                        <span class="fa fa-angle-double-right" ng-if="!verApp.diario "></span>
                        <span class="fa fa-angle-double-up" ng-if="verApp.diario "></span>
                    </a>
                </div>

                <div class="row" ng-if="(verApp.diario && appFiltro == 'Todo') || appFiltro == 'Diario'"> <!-- ng-if="agrupar == 'Titulo'" -->
                    <a ng-repeat="diario in diario | orderBy:'-Fecha' "  class="btn appElemento " ng-click="GetDiarioPorId(diario.DiarioId)"> <!-- ng-if="(fecha.Diario | filter:FiltrarDiario).length > 0" -->
                        <!-- indicador -->
                        <b class="col-xs-12"  style="white-space: normal; max-width: 90%; overflow: hidden;" ng-if="campoBuscar == 'Conceptos'">
                            {{diario.FechaFormato}}
                        </b>
                        
                        <div class="col-xs-12" ><!-- ng-if="campoBuscar == 'Fecha'" -->
                            <p class="textoDetalleBarra" data-ng-bind-html="diario.NotasHTML" ></p>
                        </div>
                        
                    </a>
                </div>
                
                <!-- Eventos -->
               <div class="row" ng-show="(filtro.etiqueta.length > 0 || filtro.tema.length > 0 || filtro.fecha.length > 0) && (appFiltro == 'Todo')">
                    <a  class="btn labelConcepto"  ng-click="verApp.evento = !verApp.evento">
                        <b class="col-xs-12  text-center"  style="white-space: normal; max-width: 90%; overflow: hidden;" >Eventos ({{evento.length}})</b>
                        <span class="fa fa-angle-double-right" ng-if="!verApp.evento "></span>
                        <span class="fa fa-angle-double-up" ng-if="verApp.evento "></span>
                    </a>
                </div>

                <div class="row" ng-if="(verApp.evento && appFiltro == 'Todo') || appFiltro == 'Eventos'"> <!-- ng-if="agrupar == 'Titulo'" -->
                    <a ng-repeat="evento in evento | orderBy:['Actividad', '-Fecha'] "  class="btn appElemento" ng-click="GetEventoActividadPorId(evento.EventoActividadId)"> <!-- ng-if="(fecha.Diario | filter:FiltrarDiario).length > 0" -->
                        <!-- indicador -->
                        <span class="col-xs-12"  style="white-space: normal; max-width: 90%; overflow: hidden; font-size: 12pt">
                            <b>{{evento.Actividad}}:</b> {{evento.FechaFormato}}
                        </span>
                    </a>
                </div>
                
                <!-- Imagenes -->
               <div class="row" ng-show="(filtro.etiqueta.length > 0 || filtro.tema.length > 0 || filtro.fecha.length > 0) && (appFiltro == 'Todo')">
                    <a  class="btn labelConcepto"  ng-click="verApp.imagen = !verApp.imagen">
                        <b class="col-xs-12  text-center"  style="white-space: normal; max-width: 90%; overflow: hidden;" >Imagenes ({{imagen.length}})</b>
                        <span class="fa fa-angle-double-right" ng-if="!verApp.imagen "></span>
                        <span class="fa fa-angle-double-up" ng-if="verApp.imagen "></span>
                    </a>
                </div>

                <div class="row" ng-if="(verApp.imagen && appFiltro == 'Todo') || appFiltro == 'Imagenes'"> <!-- ng-if="agrupar == 'Titulo'" -->
                    <br ng-show="imagen.length > 0">
                      <div ng-repeat="img in imagen | orderBy:'Nombre' " > <!-- ng-if="(fecha.Diario | filter:FiltrarDiario).length > 0" -->
                       <div style="padding-left: 12px; padding-right: 12px">
                             <div class="col-xs-4 col-sm-3 col-lg-2" style="padding-left: 3px; padding-right: 3px">
                               <div class="imgContainer" >
                                    <div class="crop center-block">
                                         <img class="" style=" width:100%; cursor: pointer" src="php/API/ArchivosUsuario/{{UsuarioId}}/IMG/{{img.Nombre}}" ng-click="GetImagenEtiqueta(img)"/>
                                     </div>
                                </div>
                                <div style="height: 15px"></div>
                             </div>
                        </div>
                    </div>
                </div>
                
                
                <!-- Notas -->
               <div class="row" ng-show="(filtro.etiqueta.length > 0 || filtro.tema.length > 0 || filtro.fecha.length > 0) && (appFiltro == 'Todo')">
                    <a  class="btn labelConcepto"  ng-click="verApp.nota = !verApp.nota">
                        <b class="col-xs-12  text-center"  style="white-space: normal; max-width: 90%; overflow: hidden;" >Notas ({{nota.length}})</b>
                        <span class="fa fa-angle-double-right" ng-if="!verApp.nota "></span>
                        <span class="fa fa-angle-double-up" ng-if="verApp.nota "></span>
                    </a>
                </div>

                <div class="row" ng-if="(verApp.nota && appFiltro == 'Todo') || appFiltro == 'Notas'" > <!-- ng-if="agrupar == 'Titulo'" -->
                    <a ng-repeat="nota in nota | orderBy:'Titulo' "  class="btn appElemento {{GetClaseDiario(nota.Titulo)}}" ng-click="GetNotasPorId(nota.NotaId)"> <!-- ng-if="(fecha.Diario | filter:FiltrarDiario).length > 0" -->
                        <!-- indicador -->
                        <span class="col-xs-12"  style="white-space: normal; max-width: 90%; overflow: hidden;">
                            {{nota.Titulo}}
                        </span>
                    </a>
                </div>
                
                <!-- Pendientes -->
               <div class="row" ng-show="(filtro.etiqueta.length > 0 || filtro.tema.length > 0 || filtro.fecha.length > 0) && (appFiltro == 'Todo')">
                    <a  class="btn labelConcepto"  ng-click="verApp.pendiente = !verApp.pendiente">
                        <b class="col-xs-12  text-center"  style="white-space: normal; max-width: 90%; overflow: hidden;" >Objetivos ({{pendiente.length}})</b>
                        <span class="fa fa-angle-double-right" ng-if="!verApp.pendiente "></span>
                        <span class="fa fa-angle-double-up" ng-if="verApp.pendiente "></span>
                    </a>
                </div>

                <div class="row" ng-if="(verApp.pendiente && appFiltro == 'Todo') || appFiltro == 'Objetivos'" > <!-- ng-if="agrupar == 'Titulo'" -->
                    <a ng-repeat="pendiente in pendiente | orderBy:'Nombre' "  class="btn appElemento {{GetClaseDiario(nota.Titulo)}}" ng-click="GetDatosPendiente(pendiente)"> <!-- ng-if="(fecha.Diario | filter:FiltrarDiario).length > 0" -->
                        <!-- indicador -->
                        <span class="col-xs-12"  style="white-space: normal; max-width: 90%; overflow: hidden;">
                            {{pendiente.Nombre}}
                        </span>
                    </a>
                </div>
                
                <!-- Archivos -->
               <div class="row" ng-show="(filtro.etiqueta.length > 0 || filtro.tema.length > 0 || filtro.fecha.length > 0) && (appFiltro == 'Todo')">
                    <a  class="btn labelConcepto"  ng-click="verApp.archivo = !verApp.archivo">
                        <b class="col-xs-12  text-center"  style="white-space: normal; max-width: 90%; overflow: hidden;" >Archivos ({{archivo.length}})</b>
                        <span class="fa fa-angle-double-right" ng-if="!verApp.archivo "></span>
                        <span class="fa fa-angle-double-up" ng-if="verApp.archivo "></span>
                    </a>
                </div>

                <div class="row" ng-if="(verApp.archivo && appFiltro == 'Todo') || appFiltro == 'Archivos'" > <!-- ng-if="agrupar == 'Titulo'" -->
                    <a ng-repeat="archivo in archivo | orderBy:'Nombre' "  class="btn appElemento {{GetClaseDiario(nota.Titulo)}}" href="php/API/ArchivosUsuario/{{UsuarioId}}/Archivo/{{archivo.Nombre}}" target="_blank"> <!-- ng-if="(fecha.Diario | filter:FiltrarDiario).length > 0" -->
                        <!-- indicador -->
                        <span class="fa fa-download"></span>
                        <span class="col-xs-12"  style="white-space: normal; max-width: 90%; overflow: hidden;">
                            {{archivo.Nombre}}
                        </span>
                    </a>
                </div>
                
                
            </div>
        </div>
        
        
    </div>
    
     <div class="container-fluid" ng-show="detalle.length > 0">
        
        <div class="row">
            <div class="col-xs-12">
                <div style="margin-top:57px"> </div>
            </div>
        </div>
        
         <div class="row">
            <div class="col-xs-12" style="background: #E6E6E6;">

                <button class="btn botonTextoAzul" ng-click="LimpiarDetalle()">
                    <span class="fa fa-chevron-left"></span> <span>Atras</span>
                </button>

            </div>
        </div>
        <br>
        
        <div ng-repeat="detalle in detalle">
           
            <div class="row" ng-show="tipoDetalle == 'Pendiente' ">
                <div class="col-xs-12">
                    <!-- Nombre -->
                    <span class="tituloModal">{{detalle.Nombre}}</span><br><br>

                    <!-- Prioridad -->
                    <span>
                        <b>Prioridad: </b> 
                        <span ng-if="detalle.Prioridad.PriridadId">
                            {{detalle.Prioridad.Nombre}}
                        </span>
                        <span ng-if="!detalle.Prioridad.PriridadId">
                            Sin Prioridad
                        </span>
                        <br>
                    </span>

                    <!-- Lugar -->
                    <span ng-if="detalle.Lugar.LugarId">
                        <b>Lugar: </b> 
                        <span >
                            {{detalle.Lugar.Nombre}}
                        </span>
                        <br>
                    </span>

                    <!-- Cantidad -->
                    <span ng-if="detalle.Unidad.UnidadId">
                        <b>Cantidad: </b> 
                        <span >
                            {{detalle.Unidad.Cantidad}} {{detalle.Unidad.Unidad}}
                        </span>
                        <br>
                    </span>

                    <!-- Costo -->
                    <span ng-if="detalle.Divisa.DivisaId">
                        <b>Costo: </b> 
                        <span >
                           {{detalle.Divisa.Costo}}  {{detalle.Divisa.Divisa}}
                        </span>
                        <br>
                    </span>
                    <br>

                    <span style="color: #808080">
                        <!-- Etiqueta -->
                        <span ng-if="detalle.EtiquetaVisible.length > 0">
                            <b>Etiquetas: </b> 
                            <span ng-repeat="etiqueta in detalle.EtiquetaVisible">
                                <span ng-if="!$last">{{etiqueta.Nombre}},</span>
                                <span ng-if="$last">{{etiqueta.Nombre}}.</span>
                            </span><br>
                        </span>

                        <!-- tema -->
                        <span ng-if="detalle.Tema.length > 0">
                            <b>Temas: </b> 
                            <span ng-repeat="tema in detalle.Tema">
                                <span ng-if="!$last">{{tema.Tema}},</span>
                                <span ng-if="$last">{{tema.Tema}}.</span>
                            </span><br>
                        </span>

                        <!-- Fecha Creación -->
                        <span>
                            <b>Fecha Creación: </b> 
                            <span>
                                {{detalle.FechaCreacionFormato}}
                            </span><br>
                        </span>

                         <!-- Fecha Intención -->
                        <span>
                            <b>Fecha Intención: </b> 
                            <span>
                                {{detalle.FechaIntencionFormato}}
                            </span><br>
                        </span>

                         <!-- Fecha Realización -->
                        <span>
                            <b>Fecha Realización: </b> 
                            <span>
                                {{detalle.FechaRealizacionFormato}}
                            </span><br>
                        </span>
                  </span>
                   <br>

                   <!-- Notas -->
                    <span ng-if="detalle.Nota">
                        <b>Nota: </b> <br>
                        <span >
                           <p style="font-size:12pt" ng-bind-html="detalle.NotaHTML"></p>
                        </span>
                        <br>
                    </span>
                    <br>



                </div>
                <br>


            </div>
           
            <div class="row" ng-show="tipoDetalle != 'Evento' && tipoDetalle != 'Pendiente'">
                <div class="col-xs-12">
                    <div >
                        
                        <span class="tituloDetalle" ng-if="tipoDetalle=='Actividad'">{{detalle.Nombre}}</span>
                        
                        <span class="tituloDetalle" ng-if="tipoDetalle=='Nota'">{{detalle.Titulo}}</span>
                        
                        <span class="tituloDetalle" ng-if="tipoDetalle=='Diario'">{{detalle.FechaFormato}}</span>

                        <button class="btn  botonDetallesActividad pull-right" ng-click="verDetalle = !verDetalle">
                           <b class="fa fa-angle-double-right" ng-if="!verDetalle"></b>
                           <b class="fa fa-angle-double-up" ng-if="verDetalle"></b>
                       </button>

                    </div>

                </div>
            </div>
        
            <div class="row">
                <div class="col-xs-12">

                    <div ng-if="verDetalle">

                        <!-- Etiquetas -->
                        <div class="row" ng-if="detalle.EtiquetaVisible.length > 0">
                           <div class="col-sm-12"> 
                               <b> Etiquetas:  </b>
                               <span ng-repeat="etiqueta in detalle.EtiquetaVisible | orderBy:'Nombre'">
                                   <span class="textoDetalle" ng-if="!$last">{{etiqueta.Nombre}},</span>
                                   <span class="textoDetalle" ng-if="$last">{{etiqueta.Nombre}}.</span>
                               </span>             
                           </div>
                        </div>

                        <!-- Temas -->
                        <div class="row" ng-if=" detalle.Tema.length > 0">
                           <div class="col-sm-12"> 
                               <b> Temas:  </b>
                               <span ng-repeat="tema in detalle.Tema | orderBy:'Tema'">
                                   <span class="textoDetalle" ng-if="!$last">{{tema.Tema}},</span>
                                   <span class="textoDetalle" ng-if="$last">{{tema.Tema}}.</span>
                               </span>             
                           </div>
                        </div>
                        
                        <!-- Fecha nota -->
                        <div class="row" ng-if="tipoDetalle == 'Nota'">
                           <div class="col-sm-12"> 
                               <b> Fecha:  </b>
                               <span class="textoDetalle">{{detalle.FechaFormato}}</span>             
                           </div>
                        </div>
                        

                        <div ng-if="tipoDetalle == 'Actividad'">
                        <!-- Frecuencia y Fecha de creación -->
                            <div class="row">
                               <div class="col-sm-6" ng-if="detalle.Frecuencia.Nombre.length > 0"> 
                                   <b> Frecuencia:  </b>
                                   <span class="textoDetalle"> {{detalle.Frecuencia.Nombre}} </span>             
                               </div>

                               <div class="col-sm-6" ng-if="detalle.Lugar.Nombre.length > 0"> 
                                   <b>   Lugar por defecto:  </b>
                                   <span class="textoDetalle"> {{detalle.Lugar.Nombre}} </span>             
                               </div>
                            </div>

                            <!-- Frecuencia y Fecha de creación -->
                            <div class="row">
                               <div class="col-sm-12"> 
                                   <b> Fecha de alta:  </b>
                                   <span class="textoDetalle"> {{detalle.FechaCreacionFormato}} </span>             
                               </div>
                            </div>
                            
                            <!-- Frecuencia y Fecha de creación -->
                            <div class="row" ng-if="detalle.Hora.length > 0">
                               <div class="col-sm-12"> 
                                   <b> Hora:  </b>
                                   <span class="textoDetalle"> {{detalle.FechaCreacionFormato}} </span>             
                               </div>
                            </div>


                            <!--Notas -->
                            <br ng-if="detalle.Notas.length > 0">
                            <div class="row" ng-if="detalle.Notas.length > 0">
                               <div class="col-sm-12"> 
                                  <b> Notas:  </b><br>
                                   <p ng-bind-html="detalle.NotasHTML"></p>                
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             
             <!-- Divisor -->
            <div class="row" ng-show="tipoDetalle != 'Evento' && tipoDetalle != 'Pendiente'">
               <div class="col-sm-12"> 
                   <div class="divisorAzul"></div>                      
               </div>
            </div>
            <br>
             
             <div class="row">
               <div class="col-sm-12"> 
                  
                   <p style="font-size:12pt" ng-bind-html="detalle.NotasHTML" ng-if="tipoDetalle == 'Nota' || tipoDetalle == 'Diario'"></p> 
                                        
               </div>
            </div>
            
            <!-- Eventos Actividades -->
            <div class="row" ng-if="tipoDetalle == 'Actividad' || tipoDetalle == 'Evento'">

                   <div class="col-xs-12">
                        
                      <div  class="eventoVista" style="position: relative" ng-repeat="evento in eventoData | orderBy:['-Fecha', '-HoraFormato'] "> <!-- | filter: {Fecha:filtroFecha.Fecha} -->
                        
                         <div class="actividad {{GetClaseEvento(evento)}}" style="margin-top: -1px">
                         
                             <button class="btn btnEvento" ng-click="AccionEvento(evento)" ng-disabled="true">
                                <span ng-if="('1' == evento.Hecho)" class="fa fa-check"></span> 
                             </button>
                            
                             <div class="text-center tituloEstatusActividad {{evento.EstatusTexto}}" >{{evento.EstatusTexto}}</div>
                            
                         </div> 
                          
                        
                           
                           
                        <div class="" style="position: relative; margin-left: 90px; padding: 10px; overflow-y: scroll; max-height: 80px;">
                         
                            
                            <!-- Opciones ocultas -->
                            <div class="btn-group pull-right" >
                              
                                 <a class=" operacionEvento" style="color: transparent" disabled>
                                     <span class="fa fa-picture-o"></span>
                                 </a>
                               
                                <a class=" operacionEvento" style="color: transparent" disabled>
                                     <span class="fa fa-comment-o"></span>
                                </a>
                                 
                                <a class=" operacionEvento" style="color: transparent" disabled>
                                     <span class="fa fa-ellipsis-v"></span>
                                </a>
                                 
                            </div>
                            
                            <!-- Actividad --> 
                            <span ng-if="tipoDetalle == 'Evento'">  
                                <b style="color: black">  {{detalle.Actividad}}</b>
                                <br>
                            </span> 
                            
                            <!-- Fecha -->    
                            <b style="color: black"> <span class="fa fa-calendar"> </span> {{evento.FechaFormato}}</b>
                            <br>
                            
                            <!-- Hora -->  
                            <span ng-if="evento.Hora.length > 0">
                                 <b class="fa fa-clock-o"> </b>
                                <span class="">{{evento.Hora}}</span>
                                <br>
                             </span>  
                             
                             <!-- Lugar y cuydad -->
                             <span ng-if="evento.Lugar.LugarId.length > 0 || evento.Ciudad.CiudadId.length > 0 ">
                                 <b class="fa fa-map-marker"></b>
                                 <span ng-if="evento.Lugar.LugarId.length > 0 ">
                                     <span ng-if="evento.Ciudad.CiudadId.length > 0 ">{{evento.Lugar.Nombre}},</span>
                                     <span ng-if="evento.Ciudad.CiudadId.length == 0 ">{{evento.Lugar.Nombre}}</span>
                                 </span>
                                 
                                 <span ng-if="evento.Ciudad.CiudadId.length > 0 ">
                                     {{evento.Ciudad.Ciudad}} ({{evento.Ciudad.AbreviacionPais}}).
                                 </span>
                                 <br>
                             </span>
                             
                             <!-- cantidad -->
                             <span ng-if="evento.Cantidad.length > 0">
                                 <b class="">#</b>
                                 <span class="">{{evento.Cantidad}} {{evento.Unidad.Unidad}}</span>
                                 <br>
                             </span>
                             
                             <!-- Costo -->
                             <span ng-if="evento.Costo.length > 0">
                                 <b class="fa fa-usd"></b>
                                 <span class="">{{evento.Costo}} {{evento.Divisa.Divisa}}</span>
                                 <br>
                             </span>
                             
                         </div>
                         
                         <!-- Opciones -->
                        <div class="btn-group pull-right" style="position: absolute; right: 0; top: 0; padding: 10px">
                           <!-- Imagenes -->
                           <a class=" operacionEvento" data-toggle="dropdown" ng-if="(evento.Imagen.length) > 0" ng-click="VerImganes(evento.Imagen)">
                                 <span class="fa fa-picture-o"></span>
                             </a>
                                 
                            <!-- Concepto -->
                            <span class="dropdown">
                
                               
                                <a class=" operacionEvento" data-toggle="dropdown" ng-if="(evento.EtiquetaVisible.length + evento.Tema.length) > 0">
                                     <span class="fa fa-comment-o"></span>
                                 </a>

                                <ul class="dropdown-menu  dropdown-menu-right dropdownRight" style="margin-top: 10px">

                                    <div  class="row " ng-show="evento.EtiquetaVisible.length > 0">
                                        <div class="col-xs-12"> 
                                            <li  class="dropdown-header tituloFitro"><b>Etiquetas</b></li>
                                        </div>
                                    </div>

                                    <li style="width: auto">
                                        <form role="infoEtoiqueta">
                                            <div  style="margin-top: 10px"></div>

                                            <div class="panel  panelFiltro" style="border-radius: 0px; padding: 2px important;">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul>
                                                            <li ng-repeat="etiqueta in evento.EtiquetaVisible | orderBy:'Nombre'" >
                                                                <span>{{etiqueta.Nombre}}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </li>


                                    <div  class="row " ng-show="evento.Tema.length > 0">
                                        <div class="col-xs-12"> 
                                            <li  class="dropdown-header tituloFitro"><b>Temas</b></li>
                                        </div>
                                    </div>

                                    <li style="width: auto">
                                        <form role="infoEtoiqueta">
                                            <div  style="margin-top: 10px"></div>

                                            <div class="panel  panelFiltro" style="border-radius: 0px; padding: 2px important;">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul>
                                                            <li ng-repeat="tema in evento.Tema | orderBy:'Tema'">
                                                                <span>{{tema.Tema}}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </span>

                             <!-- Opciones de evento evento -->
                             <span class="dropdown" style="position: relative">
                                 <a class=" operacionEvento" data-toggle="dropdown" data-target="optEvento">
                                     <span class="fa fa-ellipsis-v"></span>
                                 </a>

                                <ul class="dropdown-menu dropdown-menu-right dropdownRight" id="optEvento" style="margin-top: 10px;">

                                      <!-- Detalles -->
                                      <li>
                                        <a class=" dropdownOpcion2" ng-click="VerDetallesEvento(evento)">
                                            <span class="fa fa-eye"></span> Detalles
                                        </a>
                                        </li>

                                    </ul>
                                </span>
                        </div>
                          
                          
                      </div>
                   </div>

            </div>
            
            <div class="row" ng-if="tipoDetalle == 'Imagen'">
                <div class="col-xs-12">
                    <img class="center-block img-responsive" style="width:80%;" src="php/API/ArchivosUsuario/{{UsuarioId}}/IMG/{{detalle.Nombre}}"/><br>
                </div>
            </div>
            
            <!-- Imagenes -->
            <div ng-repeat="img in detalle.Imagen" ng-if="tipoDetalle == 'Nota' || tipoDetalle == 'Diario' || tipoDetalle == 'Pendiente'">
                <div style="padding-left: 12px; padding-right: 12px">
                     <div class="col-xs-4 col-sm-3 col-lg-2" style="padding-left: 3px; padding-right: 3px">
                       <div class="imgContainer" >
                            <div class="crop center-block">
                                 <img class="" style=" width:100%;" src="php/API/ArchivosUsuario/{{UsuarioId}}/IMG/{{img.Nombre}}" ng-click="VerImganes(true, false, false, nota.Imagen, null, $index)"/>
                             </div>
                        </div>
                        <div style="height: 15px"></div>
                     </div>
                 </div>
            </div>
             
         </div>
        
     </div>
    
    <!-- -------------------------------- Modales ----------------------------------------------------------------------- -->
    <!---------- Detalles Evento Actividad---------------->
    <div class="modal fade" id="DetalleEvento">
        <br>    <br>   <br>
        <div class="modal-dialog modal-lg modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    
                    <!-- Fecha -->
                    <span class="tituloModal">{{detalleEvento.FechaFormato}}</span><br><br>
                    <span></span>
                    
                    <!-- Separador -->
                    <div class="row">
                        <div class="col-xs-12"> <div class="divisorAzul1"></div> </div>
                    </div>
                    
                    <!-- Actividad -->
                    <span >
                        <b>Actividad: </b> <span>{{detalleEvento.Actividad}}</span><br>
                    </span>
                    
                    <!-- Ciudad -->
                    <span ng-if="detalleEvento.Ciudad.CiudadId.length > 0">
                        <span class="fa fa-map-marker"></span> <span>{{detalleEvento.Ciudad.Ciudad}}, {{detalleEvento.Ciudad.Estado}}. {{detalleEvento.Ciudad.Pais}}.</span><br>
                    </span>
                    
                    <!-- Lugar -->
                    <span ng-if="detalleEvento.Lugar.LugarId.length > 0">
                        <b>Lugar: </b> <span>{{detalleEvento.Lugar.Nombre}}.</span><br>
                    </span>
                    
                    <!-- Cantidad -->
                    <span ng-if="detalleEvento.Cantidad.length > 0">
                        <b>Cantidad: </b> <span>{{detalleEvento.Cantidad}} {{detalleEvento.Unidad.Unidad}}</span><br>
                    </span>
                    
                    <!-- Costo -->
                    <span ng-if="detalleEvento.Costo.length > 0">
                        <b>Costo: </b> <span>{{detalleEvento.Costo}} {{detalleEvento.Divisa.Divisa}}</span><br>
                    </span>
                    
                    <!-- Persona -->
                    <span ng-if="detalleEvento.Persona.length > 0">
                        <b>Personas: </b> 
                        <span ng-repeat="persona in detalleEvento.Persona | orderBy:'Nombre'">
                            <span ng-if="!$last">{{persona.Nombre}}, </span>
                            <span ng-if="$last">{{persona.Nombre}}.</span>
                        </span>
                    </span>
                    

                </div>
            </div>
            <!-- Separador -->
            <div class="row" ng-if="detalleEvento.Notas.length > 0">
                <div class="col-xs-12"> <div class="divisorAzul1"></div> </div>
            </div>
            
            <br>
            <!-- Contenido -->
            <div class="row">
                <div class="col-xs-12 detalleInformacion" >
                    <p ng-bind-html="detalleEvento.NotasHTML"></p>
                </div>
            </div>
            
            
        </div>
    </div>
    
    <!---------- VerImagen ---------------->
    <div class="modal fade sombraDivModal" id="verImagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br>    <br>   <br>
        <div class="modal-dialog modal-md modalPrincipal">
          
          <div class="row">
                <div class="col-xs-12">
                    <a class="pull-right" data-dismiss="modal" aria-label="Close"> <span class="fa fa-times changeImage">    </span></a>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12">
                    <div id="myCarousel2" class="carousel  slide">
  
                      <!-- Items -->
                      <div class="carousel-inner">
                        <div class="item" ng-class="{active: $index == iImg}" ng-repeat="img in img">
                            <img   class="img-responsive center-block" src="php/API/ArchivosUsuario/{{UsuarioId}}/IMG/{{img.Nombre}}"/>
                        </div>
                      </div>
                      <!-- Navigation -->
                       <a class="left carousel-control"  ng-click="changeImageViewed(-1);" ng-if="img.length > 1">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control"  ng-click="changeImageViewed(1);" ng-if="img.length > 1">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
</div>

    