<div >
    <!-- Etiqueta typeahead -->
    <br>
    <div class="row">
        <div class="col-sm-12 etiquetaDropdownList">

            <label>Etiqueta</label>
            <br>
        
             <div id="concepto">
                 <div class="input-group">
                    <input  type="text"  class="form-control entrada" ng-model="$parent.buscarConcepto" uib-typeahead="e as (e.Nombre + e.Tema) for e in FiltroConcepto($viewValue)  | limitTo:7" typeahead-on-select="SeleccionarEtiqueta()" typeahead-select-on-blur="false" typeahead-focus-first="false" typeahead-editable="true" typeahead-no-results="noResultados" ng-keypress="PressKeyConcepto($event)" id="nuevoConcepto" autocomplete="off"> 
                    <span class="input-group-addon entrada" ng-click="QuitarEtiquetaBuscar()" style="cursor: pointer"> <span class="fa fa-times-circle"></span> </span> 
                </div>

                <div ng-if="noResultados">
                    Sin Resultado
                </div>
             </div>
            
        </div>
    </div>
    
    <div class="row" >
         <div class="col-xs-12">

              <!--lista de etiquetas Seleccionados -->
              <div ng-if="elemento.Etiqueta.length > 0" >
                <b>Etiquetas</b><br>
                 <span ng-repeat="etiqueta in elemento.Etiqueta | orderBy:'Nombre' track by $index" ng-show="etiqueta.Visible">
                    
                     <div class="btn-group campoAgregado contornoAzul" role="group" style="border-width: 2px; margin-bottom: 8px">
                      
                      <span ng-class="{'btn-group' : etiqueta.count > 0}" ng-show="etiqueta.count > 0">
                          <a style="border-width: 0px; font-size:10pt;" class="btn campoAgregadoQuitar contornoAzul" data-toggle="dropdown" ng-click="EtiquetaEquivalenteLista(etiqueta)"><span class="fa fa-clone"></span></a>
                          <ul class="dropdown-menu  dropdown-menu-left dropdownOpt" style="margin-top: 5px">

                                <div  class="row " ng-show="ee.length > 0">
                                    <div class="col-xs-12"> 
                                        <li  class="dropdown-header tituloFitro"><b>Equivalentes</b></li>
                                    </div>
                                </div>

                                <li style="width: auto">
                                    <form role="infoEtoiqueta">
                                        <div  style="margin-top: 10px"></div>

                                        <div class="panel  panelFiltro" style="border-radius: 0px; padding: 2px important;">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <ul>
                                                        <li ng-repeat="eq in ee | orderBy:'Nombre'" >
                                                            <span>{{eq.Nombre}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </li>
                            </ul>
                      </span>
                      
                      <span class="btn-group">
                          <a style="border-width: 0px; font-size:10pt;" class="btn campoAgregado contornoAzul" data-toggle="dropdown">{{etiqueta.Nombre}}</a>

                          <ul class="dropdown-menu dropdownOpt dropdown-menu-left" style="margin-top: 5px;">
                                <!-- Editar -->
                                <li><a class=" dropdownOpcion2" ng-click="EditarRegistroEtiqueta(etiqueta)">
                                     <span class="fa fa-pencil"> </span> Editar
                                </a></li>

                                <!-- Equivalencias -->
                                 <li><a class=" dropdownOpcion2" ng-click="EtiquetaEquivalente(etiqueta)">
                                     <span class="fa fa-clone"> </span> Equivalencias
                                </a></li>

                                <!-- Borrar -->
                                <li><a class=" dropdownOpcion2" ng-click="BorraEtiqueta(etiqueta)">
                                     <span class="fa fa-trash"> </span> Borrar
                                </a></li>

                            </ul>
                        </span>
                        
                          <a style="border-width: 0px; font-size:10pt" class="btn campoAgregadoQuitar contornoAzul" ng-click="QuitarEtiqueta(etiqueta)"><span class="fa fa-times-circle"></span></a>
                        
                    </div>
                 </span>
                 <br><br>
             </div>

             <!--lista de etiquetas Seleccionados -->
            <div ng-if="elemento.Tema.length > 0">
                 <b>Temas</b><br>                            
                 <span ng-repeat="tema in elemento.Tema | orderBy:'Tema' track by $index">
                     <div class="btn-group" role="group" style="margin-bottom:8px">
                      <a class="btn campoAgregado" ng-click="EditarTema(tema)" ng-class="{contornoAzul:(tema.TemaActividadId != '-1')}" style="font-size:10pt">{{tema.Tema}}</a>
                      <a class="btn campoAgregadoQuitar" ng-class="{contornoAzul:(tema.TemaActividadId != '-1')}" style="font-size:10pt" ng-click="QuitarTema(tema)"><span class="fa fa-times-circle"></span></a>
                    </div>
                 </span>  
             </div>                     
         </div>

    </div>
    
</div>